<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>            <string>airplayd</string>
    <key>CFBundleDisplayName</key>     <string>airplayd</string>
    <key>CFBundleIdentifier</key>      <string>com.wawtor.airplayd</string>
    <key>CFBundleVersion</key>         <string>0.2</string>
    <key>CFBundleShortVersionString</key><string>0.2</string>
    <key>CFBundleExecutable</key>      <string>airplayd</string>
    <key>CFBundlePackageType</key>     <string>APPL</string>
    <key>CFBundleIconFile</key>        <string>c-appicon</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array><string>c-appicon</string></array>
        </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array><string>c-appicon</string></array>
        </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>      <true/>
    <key>MinimumOSVersion</key>        <string>15.0</string>
    <key>UIDeviceFamily</key>          <array><integer>1</integer><integer>2</integer></array>
    <key>UIStatusBarHidden</key>       <true/>
    <key>UIViewControllerBasedStatusBarAppearance</key><false/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UIApplicationSceneManifest</key>
    <dict><key>UIApplicationSupportsMultipleScenes</key><false/></dict>
    <key>UIBackgroundModes</key>
    <array><string>audio</string></array>
</dict>
</plist>
